@tailwind base;
@tailwind components;
@tailwind utilities;

.top-card-gradient {
  background: rgb(41, 0, 77);
  background: linear-gradient(
    45deg,
    rgba(41, 0, 77, 1) 0%,
    rgba(96, 0, 180, 1) 100%
  );
}

.second-card-gradient {
  background: rgb(97, 61, 126);
  background: linear-gradient(
    45deg,
    rgba(97, 61, 126, 1) 0%,
    rgba(130, 60, 191, 1) 100%
  );
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}
